<div class="align">
  <!-- This input is using ngModel -->
  <div>
    <span class="mx-2">Name:</span>
    <input type="text" [(ngModel)]="name">
  </div>
  <!-- This input is using Reactive Forms -->
  <form [formGroup]="newForm" class="mt-4">
    <div>
      <span class="mx-2">Salary:</span>
      <input type="text" formControlName="salary">
    </div>
  </form>

  <div class="mt-3">
    <button class="btn btn-dark" type="submit" (click)="callPostAPI()">Submit</button>
  </div>

  <div class="spinner-border" role="status" *ngIf="showSpinner">
  </div>

  <!-- Here we are displaying the message recieved from the API along with the id 
       we are getting in the API's response. This  will confirm that the data which we sent
      is successfully recieved by the API-->
  <div class="mt-4">
    {{message}}
  </div>
</div>